

.main {
    
    display: flex;
    color: aliceblue;
    max-width: none;
    margin: 0 ;
    padding: 0;
}


p {
    color: aliceblue;
}


/*левый сайдбар с чатами*/



.sidebar {
    width: 20vh;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(17, 17, 17);
    margin-left: 0px;
    color: aliceblue;
    padding: 0;
}

.profile {
    background-color: blue;
    height: 5vh;
    
}


.chat-item {
    padding: 1vh;
    background-color: rgb(21, 21, 21);
    border-top: 1px solid rgb(39, 39, 39);
}

/*сам чат диалогов */
.chatwindow {
    width: 100%;
    background-color: rgb(53, 53, 53);
    
}

/*шапка диалога*/
.chatwindow-title { 

    width: 100%;
    height: 7vh;
    background-color: rgb(21, 21, 21);
}
/*чат диалога*/
.chatwindow-dialog {
    width: 100%;
    height: 80%;

}

.start-message {
    text-align: center;
    color: rgb(106, 106, 106);
    
}
/*футтер диалога(поле инпут, кнопка отправить и т.д.)*/
.chatwindow-input {
    padding-left:3vh;
    text-align: center;
    
    
}

.chat-textarea {
    width: 40%;
    height: 40px;
}


